.footer-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  white-space: pre-wrap;
  @media (max-width: 42rem) {
    flex-direction: column;
  }
}
ul {
  list-style-type: none;
}
li:hover {
  opacity: 0.7;
}
